@import '../node_modules/bootstrap/scss/bootstrap'

$primary-color: #fff
$secondary-color: #fefb00

body
  background: #171717
  color: darken($primary-color, 20%)

*:focus,
button:focus,
input:focus
  outline: none
p
  margin: 0 !important
header
  height: 100vh
  background: url("../../assets/img/header.jpg") center no-repeat
  background-size: cover
  -webkit-background-size: cover
footer
  background: #0d0d0d
.slider-container
  margin: 80px 0
.slick-slide img
  margin: 0 auto
.slider-nav
  display: flex
  justify-content: center
  margin: 50px 0
.arrow
  width: 2.5vmin
  height: 2.5vmin
  box-sizing: border-box
  cursor: pointer
  &::before
    content: ''
    width: 100%
    height: 100%
    border-width: .2vmin .2vmin 0 0
    border-style: solid
    border-color: $secondary-color
    transition: .2s ease
    display: block
  &:after
    content: ''
    float: left
    position: relative
    top: -100%
    width: 100%
    height: 100%
    border-width: 0 .2vmin 0 0
    border-style: solid
    border-color: $secondary-color
    transition: .2s ease
.prev
  transform: rotate(225deg)
.next
  margin-left: 10%
  transform: rotate(45deg)
.title
  color: $secondary-color
  font-weight: bold
  &_secondary
    font-size: 2.5em
  &_subtitle
    font-size: 1.6em
  &_name
    font-family: fantasy
    font-size: 3em
    font-weight: normal
    line-height: 1.2
  &_details
    font-weight: normal
    color: darken($secondary-color, 15%)
  &_price
    color: $primary-color
    margin-bottom: 20px
    font-size: 1.5em
  &_slide
    color: $primary-color
    margin: 20px 0
    font-size: 1.5em
  &_slide_proj
    color: $primary-color
    margin: 20px 0
    font-size: 2.5em
  &_contacts
    font-size: 2em
    font-weight: normal
    margin-left: 15px

.button
  padding: 10px 60px
  font-size: 25px
  font-weight: bold
  cursor: pointer
  &_primary
    background: transparent
    border: 2px solid $secondary-color
    color: $secondary-color
    margin-left: 20px
  &_secondary
    background: $secondary-color
    color: #070705
    border: none

.input
  background: transparent
  border: none
  border-bottom: 1px solid white
  color: white
  padding: 10px 0
  margin: 30px 50px 50px 0

.flex-wrap
  display: flex
  flex-direction: column

.header-text
  position: absolute
  bottom: 20px
  display: flex
  align-self: center
  font-weight: bold
  color: $primary-color

.nav-wrap
  display: flex
  padding: 10px 0

.logo
  width: 200px
  height: 100px

.nav
  justify-content: flex-end
  font-size: 20px
  align-items: center
  flex: auto

.main-title
  height: 70vh
  text-align: right
  font-size: 2.3rem
  display: flex
  justify-content: center
  flex-direction: column
.main-text
  color: $primary-color
  opacity: .8
.main-media
  margin: 50px 0
.descr
  font-size: 18px
.container,
.row
  padding-top: 50px
.col-md-4
  padding-right: 40px
.align_center
  text-align: center
.content-block
  margin-top: 30px
.list-info
  list-style: none
  padding-inline-start: 20px
  & li
    margin-bottom: 20px
    &::before
      content: "\2022"
      color: $secondary-color
      display: inline-block
      width: 1em
      margin-left: -1.5em
      margin-right: 8px
.main-form
  margin: 50px 0
.contacts_container
  display: flex
  justify-content: center
.container-cont
  margin: 40px 0